<div class="container my-4">
  <div class="cards">
    <% @popular_movies.each do |movie| %>
      <div class="card-product">
        <img src="https://image.tmdb.org/t/p/w185<%= movie.poster_path %>" />
        <div class="card-product-infos">
          <h2><%= movie.title %></h2>
          <p>Product description</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
